name: auto-doc-deploy

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade -r requirements_doc.txt
    - name: Install module
      run: |
        python setup.py install
    - name: Building documentation
      run: |
        cd doc
        make html
    - name: Deplying documentation
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: ./doc/build/html # The folder the action should deploy.
